spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
      file-size-threshold: 1MB
logging:
  level:
    com.example: INFO
    org.hibernate.SQL: WARN
server:
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false
